{% extends 'summaryBase.html' %}

{% block content %}


<div class="row">
    <!-- 1st row Start -->
    <div class="col-lg-12">
        <div class="card mb-12">
            <div class="card-header with-elements">
                <h6 class="card-header-title mb-0"></h6>
                <div class="card-header-elements ml-auto">
                    <label class="text m-0">
                    </label>
                </div>
            </div>
            <div class="card-body">
                <br><br>
                <form action="" method="get" id="date_time_validation_form">
                    <label>Start Date: </label>
                    <input type="date" name="startdate" id="startdate" value={{ startdate }} required>
                    <br>
                    <label>End Date: </label>
                    <input type="date" name="enddate" id="enddate" value={{ enddate }} required>
                    <br>
                    <label>BASIC MATERIAL: </label>
                    <select class="btn myselectclass" name="basic_metarial" required>
                        <option>Select</option>
                        {% for i in basic_metarial_list %}
                        <option value="{{ i }}" {% if i == basic_metarial %} {{ 'selected' }} {% endif %}>{{ i }}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>STANDARD TYPE CLASSIFICATION: </label>
                    <select class="btn myselectclass" name="standard_type_classification" required>
                        <option>Select</option>
                        {% for i in standard_type_classification_list %}
                        <option value="{{ i }}" {% if i == standard_type_classification %} {{ 'selected' }} {% endif %}>
                            {{ i }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>PRESSURE TYPE SPECIFICATION: </label>
                    <select class="btn myselectclass" name="pressure_type_specification" required>
                        <option>Select</option>
                        {% for i in pressure_type_specification_list %}
                        <option value="{{ i }}" {% if i == pressure_type_specification %} {{ 'selected' }} {% endif %}>
                            {{ i }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>LENGTH: </label>
                    <select class="btn myselectclass" name="length" required>
                        <option>Select</option>
                        {% for i in length_list %}
                        <option value="{{ i }}" {% if i == length %} {{ 'selected' }} {% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <label>M</label>
                    <br>
                    <label>OUTER DIAMETER: </label>
                    <select class="btn myselectclass" name="outer_diameter" required>
                        <option>Select</option>
                        {% for i in outer_diameter_list %}
                        <option value="{{ i }}" {% if i == outer_diameter %} {{ 'selected' }} {% endif %}>{{ i }}
                        </option>
                        {% endfor %}
                    </select>
                    <label>Unit: </label>
                    <select class="btn myselectclass" name="outer_diameter_unit" required>
                        <option>Select</option>
                        {% for i in outer_diameter_unit_list %}
                        <option value="{{ i }}" {% if i == outer_diameter_unit %} {{ 'selected' }} {% endif %}>{{ i }}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>
                <br><br>
                <!-- <button class="btn btn-info" id="makePDF">Download as PDF</button> -->
                <button class="btn btn-success"
                    onclick="tablesToExcel(['pdfexceltable'], ['PRODUCT_WISE_ANALYSIS_REPORT'], 'PRODUCT_WISE_ANALYSIS_REPORT_{{ startdate }}_{{ starttime }}_to_{{ enddate }}_{{ endtime }}_{{ basic_metarial }}_{{ standard_type_classification }}_{{ pressure_type_specification }}_{{ length }}_M_{{ outer_diameter }}_{{ outer_diameter_unit }}.xls', 'Excel')">Download
                    as Excel</button>
                <div class="card-datatable table-responsive">
                    <table class="table table-striped table-bordered" id="pdfexceltable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Total Output (Kg)</th>
                                <th>Total Count (Nos)</th>
                                <th>Total Length (M)</th>
                                <th>Avg Weight (Kg)</th>
                                <th>Min Weight (Kg)</th>
                                <th>Max Weight(Kg)</th>
                                <th>Weight Gain (Kg)</th>
                                <th>Weight Loss (Kg)</th>
                                <th>Net Gain / (Loss) (Kg)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in productwisereport %}
                            <tr>
                                <td>{{ i.group_day|date:"d/m/Y" }}</td>
                                <td>{{ i.weight__sum__kg|floatformat:2 }}</td>
                                <td>{{ i.weight__count }}</td>
                                <td>{{ i.length__sum|floatformat:2 }}</td>
                                <td>{{ i.weight__avg__kg|floatformat:2 }}</td>
                                <td>{{ i.min_weight__sum__kg|floatformat:2 }}</td>
                                <td>{{ i.max_weight__sum__kg|floatformat:2 }}</td>
                                <td>{{ i.weight_gain__sum__kg|floatformat:2 }}</td>
                                <td>{{ i.weigt_loss__sum__kg|floatformat:2 }}</td>
                                <td>{{ i.netgain__sum__kg|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 1st row Start -->
</div>


<script>
    var myselect = document.getElementsByClassName('myselectclass');
    for (i = 0; i < myselect.length; i++) {
        myselect[i].getElementsByTagName('option')[0].disabled = true;
    }
</script>

{% if wrongmessege %}
<script>alert("{{ wrongmessege.message }}")</script>
{% endif %}

{% endblock %}